
@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/mainpagestyle.css"/>
<p>Категории фанфиков</p>
<hr/>
<br>
<br>
<ul class="portfolio_items">
    <li class="visible_1 col-sm-3" style="display: inline;">

        <div class="inner" style="display: block;">
            <a href="#" title="Фильмы и сериалы">
                <img  src="http://www.fonstola.ru/pic/201501/640x960/fonstola.ru-158586.jpg" alt="Фильмы и сериалы" title="Фильмы и сериалы">
            </a>
            <a href="#" title="Мультфильмы">
                <img  src="http://desktopwallpapers.org.ua/pic/201107/640x960/desktopwallpapers.org.ua-2169.jpg" alt="Мультфильмы" title="Мультфильмы">
            </a>
            <a href="#" title="Книги">
                <img  src="https://s1.1zoom.ru/b3659/824/Many_Library_Book_Glasses_Bokeh_586542_640x960.jpg" alt="Книги" title="Книги">
            </a>
            <a href="#" title="Игры">
                <img  src="https://img1.goodfon.ru/original/640x960/6/52/call-of-duty-black-ops-2-1765.jpg" alt="Игры" title="Игры">
            </a>
            <a class="111" href="#" title="Известные люди">
                <img  src="https://i.pinimg.com/736x/31/da/bf/31dabff18e3f15569b1dcfa8497c8bb3--robert-downey-jr-ironman.jpg" alt="Известные люди" title="Известные люди">
            </a>
            <a href="#" title="Комиксы">
                <img src="https://i.pinimg.com/736x/99/ed/5b/99ed5b5e4c01719417b8cd128d9f8c61--marvel-comics-superheroes-marvel-avengers.jpg" alt="Комиксы" title="Комиксы">
            </a>
        </div>
    </li>
</ul>
<hr/>
